<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This is the How it Works page for
      <a href="http://www.ostrm.com">Ostrom</a>.
      For more info see the
      <a href="http://www.ostrm.com">Ostrom</a>.
    </p>
  </body>
</html>
