<%= form_for(@resource) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Add new resource (title) ..." %>
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>
