<footer class="footer">
  <small>
    <a href="www.ostrm.cpom/">Sample App</a>
    by O LLC
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.ostrm.com/">Terms and Condistions</a></li>
    </ul>
  </nav>
</footer>
